@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  transition: 0.8s;
}

html {
  scroll-behavior: smooth;
}

#slidebar {
  position: fixed;
  top: 0;
  width: 17rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #007bff;
  z-index: 1;
}

.lg-heading {
  font-size: 2rem;
  font-family: "Segoe UI";
}

.sm-heading {
  color: mediumblue;
  font-style: oblique;
  text-align: center;
  font-family: Tahoma;
}

#slidebar h2 {
  text-align: center;
}
#slidebar a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.6);
}

#slidebar img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 10px solid #5ca2ec;

  color: rgba(255, 255, 255, 0.6);
}

#slidebar a:hover {
  color: rgba(255, 255, 255, 1);
}

.toggle-btn {
  top: 20px;
  left: 8rem;
  position: absolute;
}

.toggle-btn span {
  width: 35px;
  height: 5px;
  background: black;
  margin-top: 5px;
  border-radius: 5px;
  display: none;
}

.container {
  margin: auto;
  margin-left: 17rem;
  padding: 3rem;
  max-width: 70rem;
}

section {
  min-height: 100vh;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

section h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #007bff;
}

section h3 {
  margin: 1rem 0;
}

section button {
  padding: 8px 15px;
  min-width: 140px;
  border: 0;
  outline: 0;
  color: #fff;
  background: #007bff;
}
section button:hover {
  background-color: aqua;
  color: #000;
  transition: 2s;
}
#contact h3 {
  margin: 30px;
}
#contact a {
  font-size: 25px;
  display: inline-flex;
  width: 50px;
  height: 50px;
  padding: 10px;
  color: #5ca2ec;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border-style: solid;
  margin-bottom: 20px;
  border: 2px solid #007bff;
}

#contact a:hover {
  background-color: black;
  color: whitesmoke;
}

.skillbox {
  width: 70%;
  left: 10%;
  margin: 50px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.skillbox p {
  color: black;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  background: #5ca2ec;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  border: black;
  border-radius: 2px;
}
.skill-level {
  background: black;
  width: 100%;
  height: 10px;
}

#skills h2 {
  margin-top: 2rem;
}

#hobbies h2 {
  margin-top: 2rem;
}
.copy {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 2rem;
  overflow: hidden;
}

.copy small {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 0 5px;
}

@media (max-width: 780px) {
  #slidebar {
    width: 12rem;
    height: 100%;
    left: -12rem;
  }
  #slidebar h1 {
    text-align: center;
  }
  section h1 {
    font-size: 2.5rem;
  }
  .container {
    margin-left: 0;
  }
  .toggle-btn {
    left: 12.5rem;
  }
  .toggle-btn span {
    display: block;
  }

  #slidebar.active {
    left: 0;
  }
  .copy {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
  }
}
